
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="classy-profile">
                <img src="https://placehold.it/250x250">
                <h1 class="card-names">
                    <span class="card-name">{{settingsAccount.login}}</span>
                    <span class="card-email">{{settingsAccount.email}}</span>
                </h1>
                <ul class="vcard-details">
                    <li class="vcard-detail"><span class="glyphicon glyphicon-user"></span>{{settingsAccount.firstName}} {{settingsAccount.lastName}}</li>
                    <li class="vcard-detail"><span class="octicon octicon-clock"></span><span class="glyphicon glyphicon-time"></span>{{'1288323623006' | date:'MM/dd/yyyy'}}</li>
                    <li class="vcard-detail lang"><span class="glyphicon glyphicon-bookmark"></span>Language {{settingsAccount.langKey}}</li>
                </ul>
                <button class="btn btn-width" ui-sref="settings"><span class="glyphicon glyphicon-pencil"></span>
                    <span class="btn-s">Editar perfil</span>
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading panel-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" class="btn-raised" data-toggle="tab">Espacios</a></li>
                        <li style="float: right">
                            <button class="btn btn-primary" ui-sref="space.new" style="padding: 5px 20px; margin-right: 10px; color: #fff;">
                                <span class="glyphicon glyphicon-flash"></span> <span>New Space</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="list-group"  infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links2['last'] == page">
                            <div class="list-group-item" ng-repeat="space in spaces2 track by space.id">
                                <a ui-sref="space.detail({id:space.id})">
                                <div class="row-picture">
                                <img class="circle" src="https://placehold.it/250x250" alt="icon">
                            </div>
                            <div class="row-content">
                                <button type="submit"
                                        ui-sref="space.edit({id:space.id})"
                                        class="btn btn-primary btn-sm" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="submit"
                                        ng-click="delete(space.id)"
                                        class="btn btn-danger btn-sm" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                                <h4 class="list-group-item-heading">{{space.title}}</h4>

                                <p class="list-group-item-text">{{space.description}}</p>

                            </div>
                                </a>

                            </div>


                        <!--<div class="list-group-separator"></div>-->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile" data-toggle="tab">Favoritos</a></li>
                    </ul>
                </div>
                <div class="panel-body">

                    <div class="list-group" infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links3['last'] == page">
                        <div class="list-group-item" ng-repeat="fav in favs track by fav.id">
                            <a ui-sref="space.detail({id:fav.space.id})">
                            <div class="row-picture">
                                <img class="circle" src="https://placehold.it/250x250" alt="icon">
                            </div>
                            <div class="row-content">
                                <button type="submit"
                                        ng-click="deletes(fav.id)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <h4 class="list-group-item-heading">{{fav.space.title}}</h4>

                                <p class="list-group-item-text">{{fav.space.description}}</p>
                            </div>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteFavConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDeletes(fav.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Fav?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteSpaceConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(space.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Space?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<style>

    .row-content > button{
        float: right;
        margin-left: 0;
        margin-right: 0;
    }

    .row-content > .btn-danger{
        float: right;
    }
    #navigation{
        height: 50px !important;
        background-color: rgb(0, 151,167) !important;
        background-image: none !important;
    }
    #nextElementFix{
        padding-top: 70px !important;
    }

    .btn-width {
        width: 100%;
        padding: 6px 12px;
    }

    .panel-body {
        padding: 0;
    }

    #navigation #bs-example-navbar-collapse-1 > form > div, #navigation > nav > div > div > form > div {
        display: inline-block;
        height: 50px !important;
        line-height: 50px !important;
    }
    #navigation #bs-example-navbar-collapse-1 > form > div > span, #navigation > nav > div > div > form > div > span {
        display: inline-block;
        width: auto;
        height: 50px !important;
        line-height: 50px !important;
    }

    .add-on input{
        height: 28px !important;
    }
    @media (max-width: 768px) {
        .classy-profile img {
            height: 115px !important;
            width: 115px !important;
            position: absolute;
            top: 15px;
            left: 15px;
            border-radius: 3px;
            margin-right: 15px;
        }
        .classy-profile {
            position: relative;
            margin-bottom: 15px;
            padding: 15px 15px 10px 140px;
            background: #fff;
            line-height: 1.5;
            overflow: visible;
            min-height: 140px;
            border-radius: 3px;
            border: 0;
            -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .classy-profile img {
        width: 100%;
        height: 100%
    }

    .panel-tabs {
        padding: 0px;
        overflow: hidden;
    }

    .nav-tabs {
        background-color: #455A64;
    }

    .btn-i {
        vertical-align: text-top;
        font-size: 18px;
    }

    .btn-s {
        vertical-align: text-top;
        margin-left: 5px;
    }

    .card-names {
        margin-top: 5px;
        line-height: 1;
    }

    .panel {
        overflow: hidden;
        border-radius: 3px;
    }

    .card-name {
        display: block;
        width: 100%;
        overflow: hidden;
        font-size: 26px;
        line-height: 30px;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }

    .card-email {
        display: block;
        overflow: hidden;
        width: 100%;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        text-overflow: ellipsis;
        color: rgba(0,0,0,0.54);
    }

    .card-min{
        width: 100%;
        padding: 2px 0 2px 24px;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .vcard-details {
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #eee;
        padding-left: 0;
    }

    .vcard-detail {
        width: 100%;
        padding: 2px 0 2px 24px;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 14px;
        text-overflow: ellipsis;
        line-height: 18px;
    }
    .vcard-detail > span{
        float: left;
        width: 16px;
        text-align: center;
        margin-left: -24px;
        color: #999;
    }

    .list-group .list-group-item{
        padding: 10px 16px;
    }
    .list-group-item:hover {
        background-color: rgba(158, 158, 158, 0.2);
        transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
    }
    .list-group .list-group-separator{
    margin-bottom: 0px;
        margin-top: 0px;
    }

    .list-group .list-group-separator:before{
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(158,158,158,0.2);
        margin-left: -200px;
    }
    .list-group .list-group-item h4{
        font-size: 1.6rem !important;
        font-weight: 300;
        letter-spacing: 0.010em;
        line-height: 1.6em;
        color: rgba(0,0,0,0.87);
    }
    .list-group-item-text{
        color: rgba(0,0,0,0.54);
        font-weight: 500;
    }
    .list-group {
        margin-bottom: 0px;
    }
    .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
        padding: 12px 24px;
        line-height: 24px;
        color: rgba(255,255,255,0.70) !important;
    }
    .nav-tabs > li.active{
        border-bottom: 3px solid rgb(0, 151, 167);
    }
    .nav-tabs > li.active > a{
        color: white !important;
    }


</style>

